<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

{% if request.user.is_authenticated %}
<header class="header">
    <div class="nav">
        <div class="logo">
            <h1><a href="{% url 'home' %}">ПостМетаАнонимус</a></h1>
        </div>
        <div class="search-form">
            <form action="{% url 'search' %}" method="GET">
                <label>
                    <input type="text" name="query" placeholder="Поиск" autocomplete="off" required class="search-form__input">
                </label>
                <button class="search-form__button">Найти</button>
            </form>
        </div>
        <div class="dropdown_menu">
            <button class="dropdown_menu__button" onclick="dropdown_menu()">
                {{ request.user.nickname }}<br>
                {{ request.user.experience }} xp
            </button>
            <div id="dropdown_menu__content" class="dropdown_menu__content">
                <a href="{% url 'profile' request.user.slug %}">Профиль</a>
                <a href="{% url 'edit_profile' %}">Редактировать профиль</a>
                <hr>
                <a href="{% url 'new_post' %}">Новый пост</a>
                <a href="{% url 'posts' request.user.slug %}">Мои посты</a>
                <hr>
                <a href="{% url 'logout' %}">Выйти из аккаунта</a>
          </div>
        </div>
    </div>

</header>
{% endif %}


{% block content %}
{% endblock %}
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script src="{% static 'js/script.js' %}"></script>
{% block js %}
{% endblock %}
</body>
</html>