{% extends 'PostMetaAnonymous/base.html' %}

{% block content %}
    <h1>Login page</h1>

    {% for message in messages %}
        <p class="text-center">{{ message }}</p>
    {% endfor %}
    <div class="text-center">
      <form class="px-4 py-3" method="POST">
      {% csrf_token %}
        <div class="form-group">
            <p><label for="{{ form.id_for_label }}">Email</label>{{ form.username }}</p>
            <p><label for="{{ form.id_for_label }}">Пароль</label>{{ form.password }}</p>
        </div>
        <button type="submit" class="btn btn-primary">Войти</button>
      </form>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="{% url 'register' %}">Создать аккаунт</a>
    </div>

{% endblock %}