{% extends 'PostMetaAnonymous/base.html' %}
{% load static %}

{% block content %}
    <div class="container">
    <div class="main-body m-2">

          <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                  {% if user.profile_pic.url is not None %}
                      <img src="{% static user.profile_pic.url %}" class="rounded-circle" width="200" height="200">
                  {% else %}
                      <p>Нет аватара</p>
                  {% endif %}
                    <div class="mt-3">
                      <h4>{{ user.nickname }}</h4>
                      <p class="text-secondary mb-1">{{ user.about }}</p>
                        {% if request.user.slug == user.slug %}
                      <h5><a href="{% url 'edit_profile' request.user.slug %}">Изменить профиль</a></h5>
                        {% else %}
                            <a id="friend_request" href="{% url 'send_friend_request' user.id %}">Добавить в друзья</a>
                        {% endif %}
                    </div>
                  </div>
                </div>
              </div>
            <div class="container">
                <div class="text-center">
                {% if friend_requests %}
                    {% for i in friend_requests %}
                        <p>Пользователь <a href="{% url 'profile' i.from_user.slug %}">{{ i.from_user.nickname }}</a> хочет добавить вас в друзья <a href="{% url 'accept_friend_request' i.id %}">добавить</a> или
                            <a href="{% url 'decline_request' i.id %}">не добавлять</a></p>
                    {% endfor %}
                {% endif %}
                </div>
            </div>
            </div>
            <div class="col-md-8">
              <div class="card mb-3">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Позывной</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{ user.nickname }}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Класс</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{ user.snusoman }}
                    </div>
                  </div>
                <hr>
                <div class="row">
                      <div class="col-sm-3">
                          <h6 class="mb-0">Ранг</h6>
                        </div>
                      <div class="col-sm-9 text-secondary">
                        {{ user.rank }}
                    </div>
                  </div>
                    <hr>
                <div class="row">
                      <div class="col-sm-3">
                          <h6 class="mb-0">Опыт</h6>
                        </div>
                      <div class="col-sm-9 text-secondary">
                        {{ user.experience }}
                    </div>
                  </div>
                    <hr>
                  <div class="row">
                      <div class="col-sm-3">
                          <h6 class="mb-0">Активность</h6>
                        </div>
                      <div class="col-sm-9 text-secondary">
                        {% for i in comments %}
                            <a href="{% url 'thread' i.thread.slug %}">{{ i.thread }}</a>
                            {{ i.content }}
                            {{ i.time_create|date:'d.m.y G:i' }}
                            <br>
                        {% endfor %}
                    </div>
                </div>
                <hr>
                  <div class="row">
                      <div class="col-sm-3">
                          <h6 class="mb-0"><a href="{% url 'friends' user.slug %}">Друзья</a></h6>
                        </div>
                      <div class="col-sm-9 text-secondary">
                        {% for i in friends %}
                            <a href="{% url 'profile' i.slug %}">{{ i.nickname }}</a> <a href="{% url 'delete_friend' i.id %}">удалить из друзей</a>
                        {% endfor %}
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
    </div>
{% endblock %}

{% block javascript %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
    $(document).ready(function () {
        $('#friend_request').click(function () {
            $.ajax({
                data: $(this).serialize(),
                type: $(this).attr('method'),
                url: '{% url 'send_friend_request' user.id %}',
                success: function (response) {
                    location.reload()
                }
            })
        })
    })
    </script>

{% endblock %}