{% extends 'PostMetaAnonymous/base.html' %}
{% load static %}

{% block content %}

<div>
    <ul>
        <li>
            <h2>{{ thread.title }}</h2>
            {% autoescape on %}
            <p>{{ thread.content|linebreaks|truncatewords:10 }}</p>
            {% endautoescape %}
            <p>Автор: <a href="{% url 'profile' thread.author.slug %}">{{ thread.author.nickname }}</a></p>
            {% if request.user.profile.id != thread.author_id %}
                <form action="{% url 'thread_like' thread.slug %}" method="POST">
                    {% csrf_token %}
                    {% if liked %}
                        <button type="submit" class="btn btn-primary" id="like-button">Откинуться</button>
                    {% else %}
                        <button type="submit" class="btn btn-primary" id="like-button">Вкинуться</button>
                    {% endif %}
                </form>
            {% endif %}
            <div id="likes">
                Вкинулось: {{ thread.likes.count }}
            </div>
        </li>
    </ul>
    <div class="container m-3">
        <form action="" method="POST">
        {% csrf_token %}
        <p><label for="{{ form.id_for_label }}">{{ form.label }}</label>{{ form }}</p>
        <button type="submit" class="btn btn-primary">Добавить комментарий</button>
    </form>
    </div>
    <div>
        <div class="container m-3">
            <h5>Комментарии</h5>
            {% if not thread.comments.all %}
            <p>Комментариев пока что нет. Вы можете стать первонахом</p>
            {% endif %}
            {% for i in thread.comments.all %}
                <ul class="list-group">
                    <li class="list-group-item m-1">
                        <div>
                            <img src="{% static i.author.profile_pic.url %}" class="rounded-circle" width="75" height="75">
                            {{ i.author.nickname }}:
                            {{ i.content }}
                            {{ i.time_create|date:'d.m.Y G:i' }}
                            {% if request.user.profile == i.author %}
                            <a href="{% url 'delete_comment' i.id %}">Удалить комментарий</a>
                            {% endif %}
                            Вкинулось: {{ i.likes.count }}
                        {% if request.user.profile.id != i.author.id %}
                            <form action="{% url 'comment_like' i.id %}">
                                <button class="btn btn-primary">Вкинуться</button>
                            </form>
                        {% endif %}
                        </div>
                        <div>
                            {{ i.replies }}
                        </div>
                    </li>
                </ul>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}

{% block js %}
{#    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>#}
{#    <script type="text/javascript">#}
{#        $(document).ready(function() {#}
{#            $('#like-form').click(function() {#}
{#            $.ajax({#}
{#                data: $(this).serialize(),#}
{#                type: 'POST',#}
{#                async: true,#}
{#                url: "{% url 'thread_like' thread.slug %}",#}
{#                success: function(data) {#}
{#                    $('#likes').update('Вкинулось')#}
{#                },#}
{#                dataType: 'json',#}
{#            })#}
{#                return false#}
{#        })#}
{#        })#}
{#    </script>#}

{% endblock %}
