{% extends 'PostMetaAnonymous/base.html' %}

{% block content %}

    <h2>Мои посты</h2>

    {% for i in threads %}
                <ul class="list-group">
                    <li class="list-group-item m-1">
                        <h2>{{ i.title }}</h2>
                        {% autoescape on %}
                        <p>{{ i.content|linebreaks|truncatewords:10 }}</p>
                        {% endautoescape %}
                        <p><a href="{% url 'thread' i.slug %}">Читать полностью</a> <a href="{% url 'edit_thread' i.slug %}">Изменить</a> <a
                                href="{% url 'delete_thread' i.slug %}">Удалить</a></p>
                    </li>
                </ul>
            {% endfor %}

{% endblock %}